#details-wrapper {
  display: flex;
  height: 100vh;
}

#details-wrapper > .poster {
  background: url('../assets/artists_posters/billy_idol_poster.png') center
    center;
  flex: 1;
  background-repeat: no-repeat;
  background-size: contain;
}

#details-wrapper .data-wrapper {
  flex: 1;
  padding: 16px;
  position: relative;
}

#details-wrapper header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#details-wrapper header > button {
  margin-left: auto;
  width: 136px;
  height: 50px;
  border-radius: 5px;
  background-image: linear-gradient(250deg, #1de9b6, #1dc4e9);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  margin-right: 20px;
}

#details-wrapper header > h1 {
  font-weight: 300;
}

#details-wrapper ul {
  list-style: none;
  text-align: center;
}

#details-wrapper ul li {
  font-size: 36px;
  font-weight: 300;
}

#details-wrapper footer {
  position: absolute;
  bottom: 5%;
  width: 80%;
}

#details-wrapper footer a {
  display: block;

  border-radius: 5px;
  background-image: linear-gradient(262deg, #a389d4, #899ed4);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 8px;
  color: white;
  text-decoration: none;
  text-align: center;
}
