#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgba(131, 107, 219, 0.177);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
}

#top-header input {
  width: 50%;
  background-color: #fbfbfb;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #474b4f;
  font-size: 16px;
  text-indent: 16px;
}

#top-header button {
  height: 50px;
  margin-left: 4%;
  border-radius: 5px;
  background-image: linear-gradient(259deg, #1de9b6, #1dc4e9);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border-style: none;
  padding: 16px 75px;
}

#top-header a {
  margin-left: auto;
  width: 77px;
  height: 77px;
  border-radius: 39px;
  background-color: #a389d4;
  background-image: url(../assets/Document-Icon.png);
  background-repeat: no-repeat;
  background-size: 27px 32px;
  background-position: center center;
}

#top-header h1 {
  height: 60px;
  font-family: OpenSans;
  font-size: 44px;
  font-weight: 300;
  text-align: left;
  color: #393c40;
}

#top-header .pay-all-button {
  margin-left: auto;
  background-color: #1de9b6;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  background-image: none;
}
#top-header .delete-all-button {
  background-color: #f44236;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  background-image: none;
}

#top-header .withdraw-all-button {
  margin-left: auto;
  background-color: #fbff0b;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  background-image: none;
}
